.dozent-project-details{
    margin: auto;
}

.dozent-project-details-buttonbox1{
    margin-left: 20px;
}

.dozent-project-details-buttonbox2{
    margin-left: 400px;
}

.dozent-project-details-buttons{
    width: 200px;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
}
