.student-project-details{
    margin: auto;
}

.student-project-details-buttonbox{
    margin-left: 180px;

}

.student-project-details-buttons{
    width: 200px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

