.student-new-project-form{
    width: 1000px;
    margin: auto;
}

.student-new-project-form{
    width: 1000px;
}

.student-new-project-form-upload-label{
    margin-top: 15px;
    font-size: 10.5pt;
    color: hsla(214, 42%, 18%, 0.72);
}

.student-new-project-form-upload-button{
    width: 200px;
    margin-left: -15px;
}

.student-new-project-form-upload{
    border: none;
}

.student-new-project-form-upperformlayout{
    margin-top: 20px;
}

.test{
    font-size: 12pt;
}

.student-new-project-form-button{
    width: 200px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.student-new-project-form-buttonbox{
    margin-left: 180px;
}

/*.student-new-project-form-newcontactbutton{*/
/*   width: 50px !important;*/
/*}*/