.student-project-overview{
    margin: auto;
}

.student-project-overview-grid{
    width: 1000px;
    margin: auto;
}

.student-projekt-overview-button{
    width: 200px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.student-projekt-overview-buttonbox{
    margin-left: 180px;
}