.add-appointments-title{
    margin-top: -5px;
}

.add-appointments-datetime{
    width: 435px;
}

.add-appointments-buttons{
    width: 200px;
    margin-top: 25px;
    margin-right: 20px;
}

.add-appointments-buttonbox{
    margin-top: 20px;
}

.add-appointments-dialog{

}