.project-details{
    width: 1000px;
    margin: auto;
}

.project-details-upperformlayout{
    border: 1px solid hsl(214, 90%, 52%);
    border-radius: 10px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.project-details-lowerformlayout{
    border: 1px solid hsl(214, 90%, 52%);
    border-radius: 10px;
    padding-left: 50px;
    padding-bottom: 40px;
    margin-top: 30px;
    padding-right: 20px; /* TODO: hab ich hinzugefügt und dadurch is es nciht mehr perfekt mittig also die Buttons */
}

.project-details-contacteditlayout {
    height: 60px;
}

.project-details-contacteditbutton{
    width: 60px;
    margin-top: 40px;
    height: 10px;
}

.project-details-projecttitle{
    /* die größe hat gar nichts verändert */
    word-wrap: break-word;
}

.project-details-projectsketch{
    word-wrap: break-word;
}

.project-details-backgroundtitle{
    word-wrap: break-word;
}

